* {
  box-sizing: border box;
}
.center {
  float: left;
}
.btn,
button {
  font-family: Apercu, "Source Sans Pro", Helvetica, Arial, sans-serif;
  background: #333f58;
  border: none;
  font-size: 10px;
  font-size: 1rem;  
  font-weight: 400;
  letter-spacing: 3px;
  background-color: #333f58;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 14px 21px;
  padding: 1.4rem 2.1rem;
  border: 2px solid #333f58;
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  width: 100%;
  min-width: 180px;
  min-width: 18rem;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
}
body.night .btn, body.night button {
	background: #e7e7e7;
	background-color: #e7e7e7;
	border: 2px solid #e7e7e7;
}

@media (min-width: 400px) {
  .btn,
  button {
    width: auto;
  }
}
@media (min-width: 800px) {
  .btn,
  button {
    font-size: 1.1rem;
    padding: 1.2rem 1.2rem;
  }
}
.btn:hover,
button:hover {
  background: #333f58;
  border-color: #333f58;
  color: #e7e7e7;
}
body.night .btn:hover,
body.night button:hover{
  background: #e7e7e7;
  border-color: #e7e7e7;
  color: #333f58;
}
.btn-border {
  background-color: transparent;
  color: #333f58;
}
body.night .btn-border {
  background-color: transparent;
  color: #e7e7e7;
}
.btn-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}
.btn-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
.btn-arrow:hover span {
  -webkit-transform: translate3d(-1rem, 0, 0);
          transform: translate3d(-1rem, 0, 0);
}
.btn-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.btn-arrow svg * {
	stroke: #e7e7e7;
	stroke-width: 5;
	stroke-color: transparent;
}

body.night .btn-arrow svg * {
	stroke: #333f58;
}

.btn-arrow:hover svg {
	opacity: 1;
	right: -2rem;
}